@import variables

#SpnrApp
    position relative
    margin auto
    height 100%

    .SpnrAppTop
        position absolute
        top 0
        left 0
        right 0
        height top-margin
        line-height top-margin

        li
            float left
            height top-margin
            width  50px
            text-align center
            -webkit-tap-highlight-color transparent

            &.logo
                width 220px

    .SpnrList
        position absolute
        top top-margin
        left 0
        right 0
        bottom bottom-margin
        overflow scroll
        -webkit-overflow-scrolling touch
        // -webkit-transform translate3d(0,0,0)

        input
            width 100%
            margin 0
            padding 0
            height 40px
            border 0
            border-bottom 1px solid border-color
            font-size 20px
            text-indent 10px
            -webkit-appearance none

        .SpnrListItem
            
            &.returning
                -webkit-transition -webkit-transform 0.2s

            .SpnrListItemAvatarBox
                float left
                width 15%
                height spnr-height
                border-bottom 1px solid #ccc

                .SpnrAvatar
                    width 40px
                    height 40px
                    margin-top 13px
                    margin-left 5px
                    border-radius 20px
                    background-position center
                    background-size cover

            .SpnrListItemSpnrBox
                float left
                width 85%
                height spnr-height
                overflow hidden
                line-height spnr-height
                font-size 20px
                text-indent 10px
                border-bottom 1px solid #ccc
                -webkit-tap-highlight-color transparent

            .SpnrListItemDetails
                float left
                width 100%
                height 35px
                background-color #ccc
                border-bottom 1px solid #ccc
                -webkit-tap-highlight-color transparent

                ul
                    li
                        float left

    &:after
        clear both

    .SpnrDetails
        position absolute
        top top-margin
        left 0
        right 0
        bottom bottom-margin
        
    .SpnrAppBottom
        position absolute
        left 0
        right 0
        bottom 0
        height bottom-margin
        line-height bottom-margin
        border-top 1px solid red

        li
            float left
            height bottom-margin
            width  50px
            text-align center
            margin-left 50px
            -webkit-tap-highlight-color transparent


            &.selected
                color : red
